<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Spoilt @ViewBag.Title</title>
    <link href="~/css/app.css" rel="stylesheet" type="text/css" />
    <!-- Material design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: true)
</head>
<body>
    <nav>
        @Html.ActionLink("Search Movies", "Index", "Movies")
        @Html.ActionLink("More Info", "Index", "About")
    </nav>
    <div class="container">
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
