@model Spoilt.Models.Movie
<div class="col s12 m4">
    <div class="card">
        <div class="card-image">
            <img alt="@Model.Title" src="@Model.Poster">
            <span class="card-title">@Model.Title</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
            <p>@Html.DisplayNameFor(model => model.Genre): @Model.Genre</p>
            <p>@Html.DisplayNameFor(model => model.Plot): @Model.Plot</p>
        </div>
        <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">arrow_upward</i></a>
    </div>
</div>
